<div>Hello {{title}}</div>

<button type="button" [disabled]="isDisabled">My Button</button>

<img [src]="imgSrc" alt="" srcset="" height="250px" width="250px">

<div class="main" [style.background]="bg_color">
  <h1 class="header">{{titleHeader}}</h1>
  <p [class.textColor] = "redText == 'yes'">{{description}}</p>
  <button (click)="incrimentCounter()">Incriment</button>
  <div class="counter">{{counter}}</div>
  <input [(ngModel)]="inputText" placeholder="Enter Text">
  <div class="chan">You Entered: {{inputText}}</div>

  <div [ngClass]="classes">
    {{message}}
  </div>
</div>